#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
#{/set}
<style>
</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">用户列表</span>
    </div>
    <!--<a class="btn btn-default" href="javascript:;" role="create">添加</a>-->
</div>
<!-- 页头 end -->
<table class="tb">
    <thead>
    <tr  class="text-center">
        <th>UID</th>
        <th>姓名</th>
        <th class="order" role="contributeAsc">
            创建时间
        </th>
        <th class="order" role="contributeAsc">
            修改时间
        </th>
        <th>操作</th>
    </tr>
    </thead>
    #{if distributors == null || distributors.size() == 0 }
    <tr><td colspan="5" style="text-align:center;">暂无记录</td></tr>
    #{/if}
    #{else}
    #{list items:distributors, as:'info'}
    <tbody>
    <tr class="user-item">
        <input type="hidden" class="userId" value="${info.userId}">
        <input type="hidden" class="type" value="${info?.type}">
        <input type="hidden" class="status" value="${info?.status}">
        <input type="hidden" class="realName" value="${info?.realName}">
        <input type="hidden" class="joinTime" value="%{out.print(utils.DateUtil.getDateString(info?.joinTime))}%">
        <input type="hidden" class="link" value="${info?.link}">
        <input type="hidden" class="qrcodeUrl" value="${info?.qrcodeUrl}">
        <input type="hidden" class="createTime" value="%{out.print(utils.DateUtil.getDateString(info?.createTime))}%">
        <input type="hidden" class="updateTime" value="%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%">
        <td>${info?.userId}</td>
        <td>${info?.realName}</td>
        <td>
            %{out.print(utils.DateUtil.getDateString(info?.createTime))}%
        </td>
        <td>%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%</td>
        <td>
            <div class="opts">
                <span class="opt" role="view"><a href="javascript:;">查看基本信息</a></span>|
                <span class="opt" role="viewDetail"><a href="javascript:;">推广详情</a></span>
            </div>
        </td>
    </tr>
    </tbody>
    #{/list}
    #{/else}
</table>

#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}
<!-- 增加 -->
<script id="createDialogTmpl" type="text/html">
    <div class="dialog dialog-create">
        <form action="@{ajax.DistributorCtrl.add}" id="create">
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>名称</label>
                <div class="col">
                    <input type="text" name="distributor.realName" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 删除 -->
<script id="deleteDialogTmpl" type="text/html">
    <div class="dialog dialog-delete">
        <form action="@{ajax.DistributorCtrl.delete}" id="delete">
            <div class="form-group">
                <input type="hidden" class="in-t" id="userIdToDelete" name="distributor.userId" value="">
                <label class="tips">确定删除<strong id="realNameToDelete"></strong>？</label>
            </div>
        </form>
    </div>
</script>

<!-- 修改 -->
<script id="updateDialogTmpl" type="text/html">
    <div class="dialog dialog-update">
        <form action="@{ajax.DistributorCtrl.update}" id="update">
            <div class="form-group">
                <input type="hidden" class="in-t" id="userIdToUpdate" name="distributor.userId" value="">
                <label class="tips">确定修改<strong id="realNameToUpdate"></strong>？</label>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>真实姓名</label>
                <div class="col">
                    <input type="text" id="realNameToUpdateEx" name="distributor.realName" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>类型</label>
                <div class="col">
                    <!--<input type="text"id="typeToUpdate" name="distributor.type" value="">-->
                    <select id="typeToUpdate" name="distributor.type">
                        <option value="0">个人</option>
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>分销商状态</label>
                <div class="col">
                    <!--<input type="text"id="statusToUpdate" name="distributor.status" value="">-->
                    <select id="statusToUpdate" name="distributor.status">
                        <option value="0">未认证</option>
                        <option value="1">认证通过</option>
                        <option value="-1">认证不通过</option>
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>推广链接</label>
                <div class="col">
                    <input type="text"id="linkToUpdate" name="distributor.link" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>二维码</label>
                <div class="col">
                    <input type="text"id="qrcodeUrlToUpdate" name="distributor.qrcodeUrl" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 查看 -->
<script id="viewDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="view">
            <div class="form-group">
                <label class="label">UID:</label>
                <div class="col">
                    <label class="info" id="userIdToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">类型:</label>
                <div class="col">
                    <label class="info" id="typeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">分销商状态:</label>
                <div class="col">
                    <label class="info" id="statusToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">真实姓名:</label>
                <div class="col">
                    <label class="info" id="realNameToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">加入时间:</label>
                <div class="col">
                    <label class="info" id="joinTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">推广链接:</label>
                <div class="col">
                    <label class="info" id="linkToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">二维码:</label>
                <div class="col">
                    <label class="info" id="qrcodeUrlToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">创建时间:</label>
                <div class="col">
                    <label class="info" id="createTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">修改时间:</label>
                <div class="col">
                    <label class="info" id="updateTimeToView"></label>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 查看 -->
<script id="viewDetailDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="view">
            <div class="form-group">
                <label class="label">一级下线人数:</label>
                <div class="col">
                    <label class="info" id="underling_1"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">二级下线人数:</label>
                <div class="col">
                    <label class="info" id="underling_2"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">三级下线人数:</label>
                <div class="col">
                    <label class="info" id="underling_3"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">总余额:</label>
                <div class="col">
                    <label class="info" id="allBalance"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">可用余额:</label>
                <div class="col">
                    <label class="info" id="usefulBalance"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">推广二维码:</label>
                <div class="col">
                    <label class="info" id="extensionQrCode"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">总收入:</label>
                <div class="col">
                    <label class="info" id="totalIncome"></label>
                </div>
            </div>
        </form>
    </div>
</script>
<script>
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/distributor.js'}");
</script>
#{/set}