#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
#{/set}
<style>
    #imgToView img{
        display: block;
        width:300px;
        height: auto;
    }
</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">订单列表</span>
    </div>
    <div class="search-box search-combobox">
        <form action="@{admin.OrderCtrl.list}" id="search-box">
            <input name="key" class="search-combobox-input" type="text" placeholder="请输入关键字" value="${key}">
            <input name="asc" type="hidden" value="${asc}">
            <button class="search-combobox-button" type="submit" title="搜索"><div class="icon-search"></div></button>
        </form>
    </div>
</div>
<!-- 页头 end -->
<table class="tb">
    <thead>
    <tr  class="text-center">
    	<th>图标</th>
        <th class="order#{if orderBy=='outTradeNo'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="outTradeNo">订单编号</th>
        <th class="filter">
            <span>状态</span>
            <ul class="option">
                <li #{if state==-1||state==null}class="currentFilter"#{/if} field="state" data="-1">全部</li>
                <li #{if state==0}class="currentFilter"#{/if} field="state" data="0">创建订单(待支付)</li>
                <li #{if state==1}class="currentFilter"#{/if} field="state" data="1">完成支付</li>
                <li #{if state==2}class="currentFilter"#{/if} field="state" data="2">待发货</li>
                <li #{if state==3}class="currentFilter"#{/if} field="state" data="3">完成发货</li>
                <li #{if state==4}class="currentFilter"#{/if} field="state" data="4">确认收货</li>
                <li #{if state==5}class="currentFilter"#{/if} field="state" data="5">交易成功(不可退货)</li>
                <li #{if state==6}class="currentFilter"#{/if} field="state" data="6">交易关闭</li>
            </ul>
        </th>
        <th class="order#{if orderBy=='weixin'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="weixin">微信</th>
        <th class="order#{if orderBy=='identifier'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="identifier">款号</th>
        <th class="order#{if orderBy=='goodsTitle'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="goodsTitle">商品名称</th>
        <th>购物信息</th>
        <th>退款信息</th>
        <th>操作</th>
        <th>通知</th>
    </tr>
    </thead>
    #{if pageData == null || pageData.list == null || pageData.list.size() == 0 }
        <tr><td colspan="10" style="text-align:center;">暂无记录</td></tr>
    #{/if}
    #{else}
	    #{list items:pageData.list,as:'info'}   
		    <tbody>
		    <tr class="user-item">
		        <input type="hidden" class="id" value="${info.id}">
		        <input type="hidden" class="userId" value="${info.userId}">
		        <input type="hidden" class="outTradeNo" value="${info.outTradeNo}">
		        <input type="hidden" class="payType" value="${info.payType}">
		        <input type="hidden" class="expressNum" value="${info.expressNum}">
		        <input type="hidden" class="expressName" value="${info.expressName}">
		        <input type="hidden" class="totalFee" value="${info.totalFee}">
		        <input type="hidden" class="state" value="${info.state}">
		        <input type="hidden" class="forbidRefund" value="${info.forbidRefund}">
		        <input type="hidden" class="orderMemo" value="${info.orderMemo}">
		        <input type="hidden" class="receiver" value="${info.receiver}">
		        <input type="hidden" class="mobilePhone" value="${info.mobilePhone}">
		        <input type="hidden" class="shippingAddress" value="${info.shippingAddress}">
		        <input type="hidden" class="stateHistory" value="${info.stateHistory}">
		        <input type="hidden" class="weixin" value="${info.weixin}">
		        <input type="hidden" class="identifier" value="${info.identifier}">
		        <input type="hidden" class="payTime" value="%{out.print(utils.DateUtil.getDateString(info?.payTime))}%">
		        <input type="hidden" class="deliverTime" value="%{out.print(utils.DateUtil.getDateString(info?.deliverTime))}%">
		        <input type="hidden" class="recevTime" value="%{out.print(utils.DateUtil.getDateString(info?.recevTime))}%">
		        <input type="hidden" class="finishTime" value="%{out.print(utils.DateUtil.getDateString(info?.finishTime))}%">
		        <input type="hidden" class="createTime" value="%{out.print(utils.DateUtil.getDateString(info?.createTime))}%">
		        <input type="hidden" class="updateTime" value="%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%">

                #{if info?.refundOrder != null && info?.refundOrder.size() > 0}
                <input type="hidden" class="refund_id" value="${info?.refundOrder.get(0).id}">
                <input type="hidden" class="refund_orderId" value="${info?.refundOrder.get(0).orderId}">
                <input type="hidden" class="refund_refundState" value="${info?.refundOrder.get(0).refundState}">
                <input type="hidden" class="refund_userMemo" value="${info?.refundOrder.get(0).userMemo}">
                <input type="hidden" class="refund_sellerMemo" value="${info?.refundOrder.get(0).sellerMemo}">
                <input type="hidden" class="refund_stateHistory" value="${info?.refundOrder.get(0).stateHistory}">
                <input type="hidden" class="refund_createTime" value="%{out.print(utils.DateUtil.getDateString(info?.refundOrder.get(0).createTime))}%">
                <input type="hidden" class="refund_updateTime" value="%{out.print(utils.DateUtil.getDateString(info?.refundOrder.get(0).updateTime))}%">
                #{/if}

                #{if info?.orderGoods != null && info?.orderGoods.size() > 0}
                <input type="hidden" class="goods_id" value="${info?.orderGoods.get(0).id}">
                <input type="hidden" class="goods_goodsTitle" value="${info?.orderGoods.get(0).goodsTitle}">
                <input type="hidden" class="goods_goodsIcon" value="${info?.orderGoods.get(0).goodsIcon}">
                <input type="hidden" class="goods_goodsSize" value="${info?.orderGoods.get(0).goodsSize}">
                <input type="hidden" class="goods_goodsColor" value="${info?.orderGoods.get(0).goodsColor}">
                <input type="hidden" class="goods_goodsIdentifier" value="${info?.orderGoods.get(0).goodsIdentifier}">
                <input type="hidden" class="goods_goodsOriginPrice" value="${info?.orderGoods.get(0).goodsOriginPrice}">
                <input type="hidden" class="goods_goodsDiscountPrice" value="${info?.orderGoods.get(0).goodsDiscountPrice}">
                <input type="hidden" class="goods_goodsNumber" value="${info?.orderGoods.get(0).goodsNumber}">
                <input type="hidden" class="goods_createTime" value="%{out.print(utils.DateUtil.getDateString(info?.orderGoods.get(0).createTime))}%">
                #{/if}

                <!--<td>${info?.id}</td>-->
		        <td>
		        	 #{if info?.orderGoods != null && info?.orderGoods.size() > 0}
		        	 	<img style="width:50px;height:50px;" src="${info?.orderGoods.get(0).goodsIcon}"/>
		        	 #{/if}
		        </td>
		        <td>${info?.outTradeNo}</td>
		        <td>
                    #{if info?.state == 0}
                        <span>创建订单(待支付)</span>
                    #{/if}
                    #{if info?.state == 1}
                        <span>完成支付</span>
                    #{/if}
                    #{if info?.state == 2}
                        <span>待发货</span>
                    #{/if}
                    #{if info?.state == 3}
                        <span>完成发货</span>
                    #{/if}
                    #{if info?.state == 4}
                        <span>确认收货</span>
                    #{/if}
                    #{if info?.state == 5}
                        <span>交易成功(不可退货)</span>
                    #{/if}
                    #{if info?.state == 6}
                        <span>交易关闭</span>
                    #{/if}
                </td>
                <td>${info?.weixin}</td>
                <td>${info?.identifier}</td>
                <td><span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;width: 200px" title="${info?.goodsTitle}">${info?.goodsTitle}</span></td>
                <td>
                    #{if info?.orderGoods != null && info?.orderGoods.size() > 0}
                    <span>${info?.orderGoods.get(0).goodsColor}</span>
                    <span>${info?.orderGoods.get(0).goodsSize}码</span>
                    <span>${info?.orderGoods.get(0).goodsNumber}件</span>
                    #{/if}
                </td>
                <td>
                    #{if info?.refundOrder != null && info?.refundOrder.size() > 0}
                        <div class="opts">
                            #{if info?.refundOrder.get(0).refundState == 0}
                                <span class="opt" role="updateRefund"><a href="javascript:;">处理退款</a></span>|
                            #{/if}
                            <span class="opt" role="viewRefund"><a href="javascript:;">查看</a></span>
                        </div>
                    #{/if}
                    #{else}
                        <span>-</span>
                    #{/else}
                </td>
		        <td>
		            <div class="opts">
		                <!--<span class="opt" role="update"><a href="javascript:;">修改</a></span>|-->
		                <span class="opt" role="view"><a href="javascript:;">查看</a></span>
                        #{if info?.state == 2 && info?.refundOrder == null}
                        |<span class="opt" role="delivered"><a href="javascript:;">发货</a></span>
                        #{/if}
		            </div>
		        </td>
		        <td>
		            <div class="opts">
		            	 #{if info?.state == 0}
                        	<span class="opt" role="needToPay"><a href="javascript:;">催付</a></span>
	                    #{/if}
	                    #{else}
	                    	&nbsp;
	                    #{/else}
		            </div>
		        </td>
		    </tr>
		    </tbody>
	    #{/list}
    #{/else}
</table>
#{include file="common/page_new.html" /}
#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}
<!-- 增加 -->
<script id="createDialogTmpl" type="text/html">
    <div class="dialog dialog-create">
        <form action="@{ajax.OrderCtrl.add}" id="create">
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>姓名</label>
                <div class="col">
                    <input type="text" name="order.outTradeNo" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>密码</label>
                <div class="col">
                    <input type="password" name="order.password" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 删除 -->
<script id="deleteDialogTmpl" type="text/html">
    <div class="dialog dialog-delete">
        <form action="@{ajax.OrderCtrl.delete}" id="delete">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToDelete" name="order.id" value="">
                <label class="tips">确定删除<strong id="outTradeNoToDelete"></strong>？</label>
            </div>
        </form>
    </div>
</script>

<!-- 修改 -->
<script id="updateDialogTmpl" type="text/html">
    <div class="dialog dialog-update">
        <form action="@{ajax.OrderCtrl.update}" id="update">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToUpdate" name="order.id" value="">
                <input type="hidden" class="in-t" id="goodsIdToUpdate" name="orderGoods.id" value="">
                <label class="tips">确定修改订单:<strong id="outTradeNoToUpdate"></strong>？</label>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>快递单号</label>
                <div class="col">
                    <input type="text" id="expressNumToUpdate" name="order.expressNum" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>订单状态</label>
                <div class="col">
                    <select id="stateToUpdate" name="order.state">
                        <option value="0">创建订单(待支付)</option>
                        <!--<option value="1">完成支付</option>-->
                        <option value="2">待发货</option>
                        <option value="3">完成发货</option>
                        <option value="4">确认收货</option>
                        <option value="5">交易成功(不可退货)</option>
                        <option value="6">交易关闭</option>
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>允许退款</label>
                <div class="col">
                    <select id="forbidRefundToUpdate" name="order.forbidRefund">
                        <option value="0">允许</option>
                        <option value="1">禁止</option>
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>

            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>收货地址</label>
                <div class="col">
                    <input id="shippingAddressToUpdate" name="order.shippingAddress">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>尺码</label>
                <div class="col">
                    <select id="goodsSizeToUpdate" name="orderGoods.goodsSize">
                        #{list items:sizes, as:'size'}
                        <option value="${size.name}">${size.name}</option>
                        #{/list}
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>颜色</label>
                <div class="col">
                    <select id="goodsColorToUpdate" name="orderGoods.goodsColor">
                    #{list items:colors, as:'color'}
                        <option value="${color.name}">${color.name}</option>
                    #{/list}
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>

        </form>
    </div>
</script>

<!-- 查看 -->
<script id="viewDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="view">
            <div class="form-group">
                <label class="label">ID:</label>
                <div class="col">
                    <label class="info" id="idToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">用户ID:</label>
                <div class="col">
                    <label class="info" id="userIdToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">用户微信:</label>
                <div class="col">
                    <label class="info" id="weixinToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">订单编号:</label>
                <div class="col">
                    <label class="info" id="outTradeNoToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">支付类型:</label>
                <div class="col">
                    <label class="info" id="payTypeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">快递公司:</label>
                <div class="col">
                    <label class="info" id="expressNameToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">快递单号:</label>
                <div class="col">
                    <label class="info" id="expressNumToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">总价:</label>
                <div class="col">
                    <label class="info" id="totalFeeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">订单状态:</label>
                <div class="col">
                    <label class="info" id="stateToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">是否允许退款:</label>
                <div class="col">
                    <label class="info" id="forbidRefundToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">用户下单备注:</label>
                <div class="col">
                    <label class="info" id="orderMemoToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">收货人姓名:</label>
                <div class="col">
                    <label class="info" id="receiverToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">商品名称:</label>
                <div class="col">
                    <label class="info" id="goodsTitleToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">商品款号:</label>
                <div class="col">
                    <label class="info" id="goodsIdentifierToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">颜色:</label>
                <div class="col">
                    <label class="info" id="goodsColorToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">尺码:</label>
                <div class="col">
                    <label class="info" id="goodsSizeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">商品数量:</label>
                <div class="col">
                    <label class="info" id="goodsNumberToView"></label>
                </div>
            </div>

            <div class="form-group hidden">
                <label class="label">商品数量:</label>
                <div class="col">
                    <label class="info" id="goodsIconToView"></label>
                </div>
            </div>
            <div id="imgToView"></div>
            <div class="form-group">
                <label class="label">收货人电话:</label>
                <div class="col">
                    <label class="info" id="mobilePhoneToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">收货地址:</label>
                <div class="col">
                    <label class="info" id="shippingAddressToView"></label>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="label">stateHistory:</label>
                <div class="col">
                    <label class="info" id="stateHistoryToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">付款时间:</label>
                <div class="col">
                    <label class="info" id="payTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">发货时间:</label>
                <div class="col">
                    <label class="info" id="deliverTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">自动收货时间:</label>
                <div class="col">
                    <label class="info" id="recevTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">完成时间:</label>
                <div class="col">
                    <label class="info" id="finishTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">创建时间:</label>
                <div class="col">
                    <label class="info" id="createTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">修改时间:</label>
                <div class="col">
                    <label class="info" id="updateTimeToView"></label>
                </div>
            </div>
        </form>
    </div>
</script>


<!-- 修改 -->
<script id="updateRefundDialogTmpl" type="text/html">
    <div class="dialog dialog-update">
        <form action="@{ajax.RefundOrderCtrl.update}" id="updateRefund">
            <div class="form-group">
                <input type="hidden" class="in-t" id="refundIdToUpdate" name="refundOrder.id" value="">
                <label class="tips">处理退款申请:<strong id="idToUpdateEx"></strong></label>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>是否退款</label>
                <div class="col">
                    <select  name="isAgree">
                        <option value="2">拒绝退款</option>
                        <option value="1">同意退款</option>
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>商家备注</label>
                <div class="col">
                    <input type="text" id="refundSellerMemoToUpdate"  name="refundOrder.sellerMemo" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 查看 -->
<script id="viewRefundDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="viewRefund">
            <div class="form-group">
                <label class="label">ID:</label>
                <div class="col">
                    <label class="info" id="refundIdToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">订单ID:</label>
                <div class="col">
                    <label class="info" id="refundOrderIdToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">退款状态:</label>
                <div class="col">
                    <label class="info" id="refundStateToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">用户备注:</label>
                <div class="col">
                    <label class="info" id="refundUserMemoToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">商家备注:</label>
                <div class="col">
                    <label class="info" id="refundSellerMemoToView"></label>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="label">状态历史:</label>
                <div class="col">
                    <label class="info" id="refundStateHistoryToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">修改时间:</label>
                <div class="col">
                    <label class="info" id="refundUpdateTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">创建时间:</label>
                <div class="col">
                    <label class="info" id="refundCreateTimeToView"></label>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 发货 -->
<script id="deliveredDialogTmpl" type="text/html">
    <div class="dialog dialog-update">
        <form action="@{ajax.OrderCtrl.delivered}" id="dispatch">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToDispatch" name="order.id" value="">
                <label class="tips">确定修改订单:<strong id="outTradeNoDispatch"></strong>？</label>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>快递单号</label>
                <div class="col">
                    <input type="text" id="expressNumToDispatch" name="order.expressNum" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label">快递公司:</label>
                <div class="col">
                    <select name="express.id">
                    #{list items:expresses, as:'exp'}
                        <option value="${exp.id}">${exp.name}</option>
                    #{/list}
                    </select>
                </div>
            </div>
        </form>
    </div>
</script>

<script>
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/order.js'}");
    seajs.use("@{'/public/js/app/common/listFilter.js'}");
</script>
#{/set}