#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
#{/set}
<style>
</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">订单列表</span>
    </div>
</div>
<!-- 页头 end -->
<table class="tb">
    <thead>
    <tr  class="text-center">
        <th>ID</th>
        <th>订单编号</th>
        <th>状态</th>
        <th class="order" role="contributeAsc">
            创建时间
        </th>
        <th class="order" role="contributeAsc">
            修改时间
        </th>
        <th>操作</th>
    </tr>
    </thead>
    #{if pageData == null || pageData.list == null || pageData.list.size() == 0 }
        <tr><td colspan="5" style="text-align:center;">暂无记录</td></tr>
    #{/if}
    #{else}
	    #{list items:pageData.list,as:'info'}   
		    <tbody>
		    <tr class="user-item">
		        <input type="hidden" class="id" value="${info.id}">
		        <input type="hidden" class="userId" value="${info.userId}">
		        <input type="hidden" class="outTradeNo" value="${info.outTradeNo}">
		        <input type="hidden" class="payType" value="${info.payType}">
		        <input type="hidden" class="expressNum" value="${info.expressNum}">
		        <input type="hidden" class="totalFee" value="${info.totalFee}">
		        <input type="hidden" class="state" value="${info.state}">
		        <input type="hidden" class="forbidRefund" value="${info.forbidRefund}">
		        <input type="hidden" class="orderMemo" value="${info.orderMemo}">
		        <input type="hidden" class="receiver" value="${info.receiver}">
		        <input type="hidden" class="mobilePhone" value="${info.mobilePhone}">
		        <input type="hidden" class="shippingAddress" value="${info.shippingAddress}">
		        <input type="hidden" class="stateHistory" value="${info.stateHistory}">
		        <input type="hidden" class="payTime" value="%{out.print(utils.DateUtil.getDateString(info?.payTime))}%">
		        <input type="hidden" class="deliverTime" value="%{out.print(utils.DateUtil.getDateString(info?.deliverTime))}%">
		        <input type="hidden" class="recevTime" value="%{out.print(utils.DateUtil.getDateString(info?.recevTime))}%">
		        <input type="hidden" class="finishTime" value="%{out.print(utils.DateUtil.getDateString(info?.finishTime))}%">
		        <input type="hidden" class="createTime" value="%{out.print(utils.DateUtil.getDateString(info?.createTime))}%">
		        <input type="hidden" class="updateTime" value="%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%">
		        <td>${info?.id}</td>
		        <td>${info?.outTradeNo}</td>
		        <td>
                    #{if info?.state == 0}
                        <span>创建订单(待支付)</span>
                    #{/if}
                    #{if info?.state == 1}
                        <span>完成支付</span>
                    #{/if}
                    #{if info?.state == 2}
                        <span>待发货</span>
                    #{/if}
                    #{if info?.state == 2}
                        <span>完成发货</span>
                    #{/if}
                    #{if info?.state == 4}
                        <span>确认收货</span>
                    #{/if}
                    #{if info?.state == 5}
                        <span>交易成功(不可退货)</span>
                    #{/if}
                    #{if info?.state == 6}
                        <span>交易关闭</span>
                    #{/if}
                </td>
		        <td>
		            %{out.print(utils.DateUtil.getDateString(info?.createTime))}%
		        </td>
		        <td>%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%</td>
		        <td>
		            <div class="opts">
		                <span class="opt" role="update"><a href="javascript:;">修改</a></span>|
		                <span class="opt" role="view"><a href="javascript:;">查看</a></span>
		            </div>
		        </td>
		    </tr>
		    </tbody>
	    #{/list}
    #{/else}
</table>
#{include file="common/page_new.html" /}
#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}
<!-- 增加 -->
<script id="createDialogTmpl" type="text/html">
    <div class="dialog dialog-create">
        <form action="@{ajax.OrderCtrl.add}" id="create">
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>姓名</label>
                <div class="col">
                    <input type="text" name="order.outTradeNo" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>密码</label>
                <div class="col">
                    <input type="password" name="order.password" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 删除 -->
<script id="deleteDialogTmpl" type="text/html">
    <div class="dialog dialog-delete">
        <form action="@{ajax.OrderCtrl.delete}" id="delete">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToDelete" name="order.id" value="">
                <label class="tips">确定删除<strong id="outTradeNoToDelete"></strong>？</label>
            </div>
        </form>
    </div>
</script>

<!-- 修改 -->
<script id="updateDialogTmpl" type="text/html">
    <div class="dialog dialog-update">
        <form action="@{ajax.OrderCtrl.update}" id="update">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToUpdate" name="order.id" value="">
                <label class="tips">确定修改订单:<strong id="outTradeNoToUpdate"></strong>？</label>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="label"><span class="asterisk">*</span>快递公司</label>-->
                <!--<div class="col">-->
                    <!--<select id="expressIdToUpdate" name="order.expressId">-->
                        <!--#{list items:expresses, as:'exp'}-->
                        <!--<option value="${exp.id}">${exp.name}</option>>-->
                        <!--#{/list}-->
                    <!--</select>-->
                    <!--<span class="msg error-text">必填项！</span>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>快递单号</label>
                <div class="col">
                    <input type="text" id="expressNumToUpdate" name="order.expressNum" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>订单状态</label>
                <div class="col">
                    <select id="stateToUpdate" name="order.state">
                        <option value="0">创建订单(待支付)</option>
                        <option value="1">完成支付</option>
                        <option value="2">待发货</option>
                        <option value="3">完成发货</option>
                        <option value="4">确认收货</option>
                        <option value="5">交易成功(不可退货)</option>
                        <option value="6">交易关闭</option>
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>允许退款</label>
                <div class="col">
                    <select id="forbidRefundToUpdate" name="order.forbidRefund">
                        <option value="0">允许</option>
                        <option value="1">禁止</option>
                    </select>
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>

            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>收货地址</label>
                <div class="col">
                    <!--<input type="text"id="statusToUpdate" name="distributor.status" value="">-->
                    <input id="shippingAddressToUpdate" name="order.shippingAddress">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 查看 -->
<script id="viewDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="view">
            <div class="form-group">
                <label class="label">ID:</label>
                <div class="col">
                    <label class="info" id="idToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">用户ID:</label>
                <div class="col">
                    <label class="info" id="userIdToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">订单编号:</label>
                <div class="col">
                    <label class="info" id="outTradeNoToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">支付类型:</label>
                <div class="col">
                    <label class="info" id="payTypeToView"></label>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="label">快递公司:</label>-->
                <!--<div class="col">-->
                    <!--#{list items:expresses, as:'exp'}-->
                    <!--<label class="info hidden" id="expressIdToView_${exp.id}">${exp.name}</label>-->
                    <!--#{/list}-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="label">快递单号:</label>
                <div class="col">
                    <label class="info" id="expressNumToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">totalFee:</label>
                <div class="col">
                    <label class="info" id="totalFeeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">订单状态:</label>
                <div class="col">
                    <label class="info" id="stateToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">是否允许退款:</label>
                <div class="col">
                    <label class="info" id="forbidRefundToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">用户下单备注:</label>
                <div class="col">
                    <label class="info" id="orderMemoToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">收货人姓名:</label>
                <div class="col">
                    <label class="info" id="receiverToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">收货人电话:</label>
                <div class="col">
                    <label class="info" id="mobilePhoneToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">收货地址:</label>
                <div class="col">
                    <label class="info" id="shippingAddressToView"></label>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="label">stateHistory:</label>
                <div class="col">
                    <label class="info" id="stateHistoryToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">付款时间:</label>
                <div class="col">
                    <label class="info" id="payTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">发货时间:</label>
                <div class="col">
                    <label class="info" id="deliverTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">自动收货时间:</label>
                <div class="col">
                    <label class="info" id="recevTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">完成时间:</label>
                <div class="col">
                    <label class="info" id="finishTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">创建时间:</label>
                <div class="col">
                    <label class="info" id="createTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">修改时间:</label>
                <div class="col">
                    <label class="info" id="updateTimeToView"></label>
                </div>
            </div>
        </form>
    </div>
</script>

<script>
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/order.js'}");
</script>
#{/set}