<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<title>确认支付</title>
<link rel="stylesheet" href="/public/css/pay.css"/>
<script src="/public/js/front/jquery.min.js"></script>
</head>
<body>

<section class="main">
		<div class="info-area">	
			<dl class="totle">
				<dt class="totle-title">实付款</dt>
					<dd class="totle-num"><strong>￥${totalFee}</strong>
				</dd>
			</dl>

			<ul class="info-list">
				<li>&nbsp;</li>
				<li class="list last-time">
					<span class="list-title">订单编号</span>
					<span class="list-content">${order.outTradeNo}</span>
				</li>
				<li class="list in-time">
					<span class="list-title">收货人</span>
					<span class="list-content">${order.receiver}</span>
				</li>
				<li class="list">
					<span class="list-title">联系电话</span>
					<span class="list-content">${order.mobilePhone}</span>
				</li>
				<li class="list">
					<span class="list-title">收货地址</span>
					<span class="list-content">
							${order.shippingAddress}
					</span>
				</li>
				<li>&nbsp;</li>
			</ul>
			<div class="info-btn">
				<a href="javascript:void(0)" class="btn btn-green" onclick="callpay();" id="pay_btn">确认支付</a>
			</div>
		</div>
</section>

</body>
<script type="text/javascript">
function onBridgeReady(){
   WeixinJSBridge.invoke(
       'getBrandWCPayRequest', ${jsRequestBody},
       function(res){     
           // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
           var payStatus = 0;
           if(res.err_msg == 'get_brand_wcpay_request:ok') {
        	   payStatus = ${paySucc};
			} else if(res.err_msg == 'get_brand_wcpay_request:fail') {
				payStatus = ${payFail};
			} else if(res.err_msg == 'get_brand_wcpay_request:cancel') {
				payStatus = ${payCancel};
			}
            $.ajax({
      	        type:"POST",
      	        url:"/front/Pay/payCallBack",
      	        data:{'id':${order.id}, 'payStatus': payStatus},
      	        success:function(result){}
      	    });
       }
   ); 
}
function callpay() {
	if (typeof WeixinJSBridge == "undefined"){
	   if( document.addEventListener ){
	       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	   }else if (document.attachEvent){
	       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
	       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	   }
	}else{
	   onBridgeReady();
	}
}
</script>
</html>

