<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>我的二维码</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-touch-fullscreen" content="YES"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="format-detection" content="telephone=no"/>
		<script type="text/javascript" src="/public/js/lib/jquery-1.11.3.min.js"></script>
		<link type="text/css" rel="stylesheet" href="/public/css/share.css"/>
	</head>
	<body>
		<div class="container">
			<div class="lable-cont user">
				<div class="background"></div>
				<div class="lable-info">
					<div class="logo" >
						<img src="/public/images/getheadimg.jpg"/>
					</div>
					<ul class="profile">
						<li>我是安淇兰黛代言人</li>
						<li>兽王</li>
						<li>成就独立自信完美女人</li>
					</ul>
				</div>
			</div>
			<div class="lable-cont desc">
				<div class="background"></div>
				<div class="lable-info">
					<ul class="intro">
						<li class="start">——&nbsp;&nbsp;&nbsp;&nbsp;AQUALAUDER&nbsp;&nbsp;·&nbsp;&nbsp;安淇兰黛&nbsp;&nbsp;&nbsp;&nbsp;——</li>
						<li class="middle">源自伦敦高端时装品牌安淇兰黛</li>
						<li class="end">——&nbsp;&nbsp;&nbsp;&nbsp;FROM&nbsp;&nbsp;LONDON&nbsp;&nbsp;&nbsp;&nbsp;——</li>
					</ul>
				</div>
			</div>
			
			<div class="lable-cont qrcode">
				<div class="background"></div>
				<div class="lable-info">
						<img class="qrcode-dist" src="/public/images/qrcode.jpg"/>
				</div>
			</div>
			
			<div class="lable-cont culture">
				<div class="background"></div>
				<div class="lable-info">
					<ul class="culture-desc">
						<li class="middle">长按图片，识别二维码进入代言人店铺</li>
					</ul>
				</div>
			</div>
		</div>
		<img class="bg" src="/public/images/tmp_share.jpg"/>
	</body>
</html>
