#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
#{/set}
<style>
</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">商品属性</span>
    </div>
    <a class="btn btn-default" href="javascript:;" role="create">添加</a>
</div>
<!-- 页头 end -->
<!-- 页头 end -->
<table class="tb">
    <thead>
    <tr  class="text-center">
        <th>ID</th>
        <th>属性</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    </thead>
    #{if pageData == null || pageData.list == null || pageData.list.size() == 0 }
        <tr><td colspan="5" style="text-align:center;">暂无记录</td></tr>
    #{/if}
    #{else}
	    #{list items:pageData.list,as:'info'}   
		    <tbody>
		    <tr class="user-item">
		        <input type="hidden" class="id" value="${info.id}">
		        <input type="hidden" class="name" value="${info.name}">
		        <input type="hidden" class="specType" value="${info.specType}">
		        <input type="hidden" class="createTime" value="%{out.print(utils.DateUtil.getDateString(info?.createTime))}%">
		        <input type="hidden" class="updateTime" value="%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%">
		        <td>${info?.id}</td>
		        <td>${info?.name}</td>
		        <td>
		            %{out.print(utils.DateUtil.getDateString(info?.createTime))}%
		        </td>
		        <td>%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%</td>
		        <td>
		            <div class="opts">
		                <span class="opt" role="update"><a href="javascript:;">修改</a></span>|
		                <span class="opt" role="view"><a href="javascript:;">查看</a></span>
		            </div>
		        </td>
		    </tr>
		    </tbody>
	    #{/list}
    #{/else}
</table>
#{include file="common/page_new.html" /}
#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}
<!-- 增加 -->
<script id="createDialogTmpl" type="text/html">
    <div class="dialog dialog-create">
        <form action="@{ajax.SpecInfoCtrl.add}" id="create">
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>商品属性</label>
                <div class="col">
                    <input type="text" name="info.name" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>类型</label>
                <div class="col">
                    <select name="info.specType">
                        #{list items:specTypes, as:'type'}
                        <option value="${type.id}">${type.name}</option>
                        #{/list}
                    </select>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 删除 -->
<script id="deleteDialogTmpl" type="text/html">
    <div class="dialog dialog-delete">
        <form action="@{ajax.SpecInfoCtrl.delete}" id="delete">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToDelete" name="info.id" value="">
                <label class="tips">确定删除<strong id="nameToDelete"></strong>？</label>
            </div>
        </form>
    </div>
</script>

<!-- 修改 -->
<script id="updateDialogTmpl" type="text/html">
    <div class="dialog dialog-update">
        <form action="@{ajax.SpecInfoCtrl.update}" id="update">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToUpdate" name="info.id" value="">
                <label class="tips">确定修改<strong id="nameToUpdate"></strong>？</label>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>商品属性</label>
                <div class="col">
                    <input type="text" id="nameToUpdateEx" name="info.name" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>类型</label>
                <div class="col">
                    <select id="typeToUpdate" name="info.specType">
                        #{list items:specTypes, as:'type'}
                        <option value="${type.id}">${type.name}</option>
                        #{/list}
                    </select>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 查看 -->
<script id="viewDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="view">
            <div class="form-group">
                <label class="label">ID:</label>
                <div class="col">
                    <label class="info" id="idToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">名称</label>
                <div class="col">
                    <label class="info" id="nameToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">属性分类:</label>
                <div class="col">
                    <label class="info" id="specTypeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">修改时间:</label>
                <div class="col">
                    <label class="info" id="updateTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">创建时间:</label>
                <div class="col">
                    <label class="info" id="createTimeToView"></label>
                </div>
            </div>
        </form>
    </div>
</script>
<script>
    var specTypeName = {
        #{list items:specTypes, as:'type'}
        "${type.id}":"${type.name}",
        #{/list}
    };
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/specInfo.js'}");
</script>
#{/set}