#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
#{/set}
<style>
    #stockList, #iconList {
        height: 200px;
        width: 465px;
        overflow-y: scroll;
        box-shadow: 0px 0px 3px #9d9d9d;
    }
    .form-group {
        padding-left: 90px;
    }

    #fileUploadBox {
        height: 403px;
        width: 465px;
        overflow-y: scroll;
    }
    .ui-dialog-body-thin {
        padding: 0px;
    }

    #infoTable tr {
        line-height: 25px;
        background: #D1DAEA;
    }

    #infoTable tr td{
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #fileUploadBox{
        box-shadow: 0px 0px 3px #9d9d9d;
        background: #dedede;
    }

    #imgSorter .img {
        margin: 15px 5px;
    }

    #imgSorter .img .btn-op {
        background: #adadad;
        opacity: 0.5;
        font-size: 32px;
        width: 32px;
        height: 32px;
        float: left;
        cursor: pointer;
    }

    #imgSorter .img .btn-op:hover {
        background: #6762aa;
    }

    #imgSorter .img .btn-op:active {
        background: #2c2cad;
    }

    #imgSorter .img:first-child .up {
        display: none;
    }

    #imgSorter .img:last-child .down {
        display: none;
    }

    #imgSorter .img img {
        width: 100%;
    }

    #stockList input {
        width: 140px;
    }


    .a-button {
        background: #208bfe;
        padding: 10px;
        margin: 10px;
        border-radius: 3px;
        color: #FFF;
    }
</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">新增商品</span>
    </div>
</div>
<!-- 页头 end -->
<form action="@{ajax.GoodsCtrl.add}" id="create" method="post" enctype="multipart/form-data">

<table style="width: 100%;">
    <tbody>
    <tr>
            <td i="body" class="ui-dialog-body ui-dialog-body-thin">
                <div i="content" class="ui-dialog-content" id="content:createDialog">
                    <div class="dialog dialog-create">
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>商品名称</label>
                            <div class="col">
                                <input type="text" name="goods.title" value="">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>商品款号</label>
                            <div class="col">
                                <input type="text" name="goods.identifier" value="">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>详细描述</label>
                            <div class="col">
                                <input type="text" name="goods.goodsDesc" value="">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>价格(分)</label>
                            <div class="col">
                                <input type="text" name="goods.price" value="">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>分类</label>
                            <div class="col">
                                <select name="goods.goodsType">
                                    #{list items:goodsTypes, as:'info'}
                                    <option value="${info.id}">${info.name}</option>
                                    #{/list}
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="label"><span class="asterisk">*</span>温馨提示</label>-->
                            <!--<div class="col">-->
                                <!--<input type="text" name="goods.warmPrompt" value="">-->
                                <!--<span class="msg error-text">必填项！</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>状态</label>
                            <div class="col">
                                <select name="goods.state">
                                    <option value="0">下架</option>
                                    <option value="1">上架</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>排序</label>
                            <div class="col">
                                <input type="text" name="goods.orderBy">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div id="stockList">
                        </div>
                        <div i="button" class="ui-dialog-button">
                            <button role="addStock" class="a-button" type="button" data-id="添加库存" autofocus="" class="ui-dialog-autofocus">添加库存</button>
                        </div>
                    </div>
                </div>
            </td>
            <td i="body" class="ui-dialog-body ui-dialog-body-thin" style="text-align: left;display: block;">
                <div id="fileUploadBox">
                    <div id="fileSelectButton" style="background-color: #C5D9FF; padding: 5px;">
                        <span id="spanButtonPlaceholder"></span>
                    </div>
                    <div id="thumbnails">
                        <table id="infoTable" border="0" width="465">
                        </table>
                    </div>
                    <div id="divFileProgressContainer"></div>
                    <div id="imgSorter" style="display: none;"></div>
                </div>
            </td>
    </tr>
    <tr>
        <td i="footer" class="ui-dialog-footer">
            <div i="button" class="ui-dialog-button">
                <button role="submitAdd" type="button" data-id="保存" autofocus="" class="ui-dialog-autofocus">保存</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</form>
<div class="hidden">
    <input id="goodsListUrl" type="hidden" value="@{admin.GoodsCtrl.list}" />
</div>

#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}
<script id="addGoodIconTmpl" type="text/html">
    <div class="img">
        <div class="deleteImg btn-op">×</div>
        <div class="up btn-op" style="margin-left:5px;font-size: 32px;text-align: center;">↑︎</div>
        <div class="down btn-op" style="margin-left:5px;font-size: 32px;text-align: center;">↓︎</div>
        <img src="{src}" />
        <input type="hidden" name="goodsIcon[{index}].iconUrl" value="{value}">
    </div>
</script>

<script id="iconSort" type="text/html">
    <div id="iconSortContent">
        <img type="hidden" name="goodsIcon[{index}].iconUrl" value="{value}">
    </div>
</script>

<script id="addGoodStockTmpl" type="text/html">
    <div>
        <select name="goodsStock[{index}].goodsSize">
            #{list items:goodsSizes, as:'info'}
            <option value="${info.id}">${info.name}</option>
            #{/list}
        </select>
        <select name="goodsStock[{index}].goodsColor">
            #{list items:goodsColors, as:'info'}
            <option value="${info.id}">${info.name}</option>
            #{/list}
        </select>
        <input type="text" placeholder="描述" name="goodsStock[{index}].stockDesc">
        <input type="text" placeholder="库存" name="goodsStock[{index}].amount">
        <button type="button" class="btn_{index}" role="deleteStock">删除</button>
    </div>
</script>

<script>
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/goods.js'}");
    seajs.use("@{'/public/js/app/upload/fileUpload.js'}");

    $(document).ready(function(){
        $(document).delegate(".deleteImg" ,"click", function(){
            $(this).parent().remove();
        });

        $(document).delegate(".up", "click", function(){
            var temp = $(this).parent().find("input").val();
            $(this).parent().find("input").val($(this).parent().prev().find("input").val());
            $(this).parent().prev().find("input").val(temp);

            temp =  $(this).parent().find("img").attr("src");
            $(this).parent().find("img").attr("src", $(this).parent().prev().find("img").attr("src"));
            $(this).parent().prev().find("img").attr("src", temp);
        });

        $(document).delegate(".down", "click", function(){
            var temp = $(this).parent().find("input").val();
            $(this).parent().find("input").val($(this).parent().next().find("input").val());
            $(this).parent().next().find("input").val(temp);

            temp =  $(this).parent().find("img").attr("src");
            $(this).parent().find("img").attr("src", $(this).parent().next().find("img").attr("src"));
            $(this).parent().next().find("img").attr("src", temp);
        });
    })
</script>
#{/set}