#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
#{/set}
<style>
    #imgToView img{
        display: block;
        width:300px;
        height: auto;
    }
</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">商品列表</span>
    </div>
    <a class="btn btn-default" href="@{admin.GoodsCtrl.add}">添加</a>
</div>
<!-- 页头 end -->
<table class="tb">
    <thead>
    <tr  class="text-center">
        <th>ID</th>
        <th>名称</th>
        <th class="order" role="contributeAsc">
            创建时间
        </th>
        <th class="order" role="contributeAsc">
            修改时间
        </th>
        <th>操作</th>
    </tr>
    </thead>
    #{if goodses == null || goodses.size() == 0 }
    <tr><td colspan="5" style="text-align:center;">暂无记录</td></tr>
    #{/if}
    #{else}
    #{list items:goodses, as:'info'}
    <tbody>
    <tr class="user-item">

        <input type="hidden" class="id" value="${info.id}">
        <input type="hidden" class="title" value="${info?.title}">
        <input type="hidden" class="createTime" value="%{out.print(utils.DateUtil.getDateString(info?.createTime))}%">
        <input type="hidden" class="updateTime" value="%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%">
        <input type="hidden" class="state" value="${info?.state}">
        <input type="hidden" class="price" value="${info?.price}">
        #{if info.goodsIcons.size() > 0 && info.goodsIcons.get(0) != null}
        #{list items:info.goodsIcons, as:'icon'}
            <input type="hidden" class="icons" value="${icon.iconUrl}">
        #{/list}
        #{/if}
        <td>${info?.id}</td>
        <td>${info?.title}</td>
        <td>
            %{out.print(utils.DateUtil.getDateString(info?.createTime))}%
        </td>
        <td>%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%</td>
        <td>
            <div class="opts">
                <span class="opt"><a href="@{admin.GoodsCtrl.update}?goods.id=${info.id}">修改</a></span>|
                <span class="opt" role="view"><a href="javascript:;">查看</a></span>
            </div>
        </td>
    </tr>
    </tbody>
    #{/list}
    #{/else}
</table>

#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}
<!-- 修改 -->
<script id="updateDialogTmpl" type="text/html">
    <div class="dialog dialog-update">
        <form action="@{ajax.GoodsCtrl.update}" id="update">
            <div class="form-group">
                <input type="hidden" class="in-t" id="idToUpdate" name="goods.id" value="">
                <label class="tips">确定修改<strong id="usernameToUpdate"></strong>？</label>
            </div>
            <div class="form-group">
                <label class="label"><span class="asterisk">*</span>密码</label>
                <div class="col">
                    <input type="password" name="goods.password" value="">
                    <span class="msg error-text">必填项！</span>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- 查看 -->
<script id="viewDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="view">
            <div class="form-group">
                <label class="label">ID:</label>
                <div class="col">
                    <label class="info" id="idToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">名称:</label>
                <div class="col">
                    <label class="info" id="titleToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">修改时间:</label>
                <div class="col">
                    <label class="info" id="updateTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">创建时间:</label>
                <div class="col">
                    <label class="info" id="createTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">状态:</label>
                <div class="col">
                    <label class="info" id="stateToView"></label>
                </div>
            </div>
            <div id="imgToView"></div>
        </form>
    </div>
</script>
<script src="/public/js/front/jquery.lazyload.js?v=1.9.1"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });
</script>
<script>
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/goods.js'}");
</script>
#{/set}