#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
#{/set}
<style>
    #imgToView img{
        display: block;
        width:300px;
        height: auto;
    }

    .btn-add-goods {
        height: 34px !important;
        line-height: 34px !important;
    }

    .search-box {
        margin-right: 10px;
    }
</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">商品列表</span>
    </div>
    <a class="btn btn-default btn-add-goods" href="@{admin.GoodsCtrl.add}">添加</a>

    <div class="search-box search-combobox">
        <form action="@{admin.GoodsCtrl.list}" id="search-box">
            <input name="key" class="search-combobox-input" type="text" placeholder="请输入关键字" value="${key}">
            <input name="asc" type="hidden" value="${asc}">
            <button class="search-combobox-button" type="submit" title="搜索"><div class="icon-search"></div></button>
        </form>
    </div>
</div>
<!-- 页头 end -->
<table class="tb">
    <thead>
    <tr  class="text-center">
        <th class="order#{if orderBy=='identifier'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="identifier">款号</th>
        <th class="order#{if orderBy=='title'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="title">名称</th>
        <th class="order#{if orderBy=='price'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="price">价格</th>
        <th class="filter">
            <span>类型</span>
            <ul class="option">
                <li #{if goodsType==-1||state==null}class="currentFilter"#{/if} field="goodsType" data="-1">全部</li>
                #{list items:goodsTypes, as:'type'}
                    <li #{if goodsType==type.id}class="currentFilter"#{/if} field="goodsType" data="${type.id}">${type.name}</li>
                #{/list}
            </ul>
        </th>
        <th class="filter">
            <span>状态</span>
            <ul class="option">
                <li #{if state==-1||state==null}class="currentFilter"#{/if} field="state" data="-1">全部</li>
                <li #{if state==0}class="currentFilter"#{/if} field="state" data="0">下架</li>
                <li #{if state==1}class="currentFilter"#{/if} field="state" data="1">上架</li>
            </ul>
        </th>
        <th class="order#{if orderBy=='orderBy'} currentOrder#{if asc} asc#{/if}#{else} desc#{/else}#{/if}" data="orderBy">排序</th>
        <th>操作</th>
    </tr>
    </thead>
    #{if pageData == null || pageData.list == null || pageData.list.size() == 0 }
        <tr><td colspan="6" style="text-align:center;">暂无记录</td></tr>
    #{/if}
    #{else}
	    #{list items:pageData.list,as:'info'}   
		    <tbody>
		    <tr class="user-item">

		        <input type="hidden" class="id" value="${info.id}">
		        <input type="hidden" class="identifier" value="${info.identifier}">
		        <input type="hidden" class="title" value="${info?.title}">
		        <input type="hidden" class="desc" value="${info?.goodsDesc}">
		        <input type="hidden" class="createTime" value="%{out.print(utils.DateUtil.getDateString(info?.createTime))}%">
		        <input type="hidden" class="updateTime" value="%{out.print(utils.DateUtil.getDateString(info?.updateTime))}%">
		        <input type="hidden" class="state" value="${info?.state}">
		        <input type="hidden" class="price" value="${info?.price}">
		        <input type="hidden" class="orderBy" value="${info?.orderBy}">
		        <input type="hidden" class="goodsType" value="${info?.goodsType}">
		        #{if info.goodsIcons.size() > 0 && info.goodsIcons.get(0) != null}
		        #{list items:info.goodsIcons, as:'icon'}
		            <input type="hidden" class="icons" value="${icon.iconUrl}">
		        #{/list}
		        #{/if}
		        <td>${info?.identifier}</td>
		        <td>${info?.title}</td>
		        <td>
                    ¥${info?.price/100}
		        </td>
                <td>
                    #{list items:goodsTypes, as:'type'}
                        #{if info?.goodsType == type.id}
                            <span>${type.name}</span>
                        #{/if}
                    #{/list}
                </td>
                <td>
                    #{if info?.state == 0}
                    <span style="color: #9d9d9d;">下架</span>
                    #{/if}
                    #{if info?.state == 1}
                    <span style="color: #4872ff;">上架</span>
                    #{/if}
                </td>
                <td>
                    <span>${info?.orderBy}</span>
                </td>
		        <td>
		            <div class="opts">
		                <span class="opt"><a href="@{admin.GoodsCtrl.update}?goods.id=${info.id}">修改</a></span>|
		                <span class="opt" role="view"><a href="javascript:;">查看</a></span>
		            </div>
		        </td>
		    </tr>
		    </tbody>
	    #{/list}
    #{/else}
</table>
#{include file="common/page_new.html" /}
#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}

<!-- 查看 -->
<script id="viewDialogTmpl" type="text/html">
    <div class="dialog dialog-view">
        <form action="#" id="view" style="max-width: 400px;">
            <div class="form-group">
                <label class="label">款号:</label>
                <div class="col">
                    <label class="info" id="identifierToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">名称:</label>
                <div class="col">
                    <label class="info" id="titleToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">描述:</label>
                <div class="col">
                    <label class="info" id="descToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">分类:</label>
                <div class="col">
                    <label class="info" id="goodsTypeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">修改时间:</label>
                <div class="col">
                    <label class="info" id="updateTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">创建时间:</label>
                <div class="col">
                    <label class="info" id="createTimeToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">状态:</label>
                <div class="col">
                    <label class="info" id="stateToView"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="label">排序:</label>
                <div class="col">
                    <label class="info" id="orderByToView"></label>
                </div>
            </div>
            <div id="imgToView"></div>
        </form>
    </div>
</script>
<script src="/public/js/front/jquery.lazyload.js?v=1.9.1"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });
</script>
<script>
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/goods.js'}");
    seajs.use("@{'/public/js/app/common/listFilter.js'}");
</script>
#{/set}