#{extends 'main.html' /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/css/admin-info.css'}">
<link rel="stylesheet" href="@{'/public/css/trumpet.css'}">
<link rel="stylesheet" href="@{'/public/css/bootstrap.min.css'}">
#{/set}
<style>
    #fileUploadBox{
        box-shadow: 0px 0px 3px #9d9d9d;
        background: #dedede;
        height: 519px;
        width: 465px;
        overflow-y: scroll;
    }

    #imgSorter .img {
        padding: 5px 5px;
        margin: 5px;
        background: #f0f0f0;
        border-radius: 3px;
    }

    #imgSorter .img .btn-op {
        background: #adadad;
        opacity: 0.5;
        font-size: 27px;
        width: 32px;
        height: 32px;
        float: left;
        cursor: pointer;
        padding-left: 2px;
    }

    #imgSorter .img .btn-op:hover {
        background: #6762aa;
    }

    #imgSorter .img .btn-op:active {
        background: #2c2cad;
    }

    #imgSorter .img:first-child .up {
        display: none;
    }

    #imgSorter .img:last-child .down {
        display: none;
    }

    #imgSorter .img .imgOrder {
        background: #adadad;
        border: none;
        color: white;
        font-size: 26px;
        width: 100px;
        float: right;
        text-indent: 6px;
    }


    #imgSorter .img img {
        width: 100%;
    }

    .a-button {
        background: #208bfe;
        padding: 10px;
        margin: 10px;
        border-radius: 3px;
        color: #FFF;
    }

    #stockList, #iconList {
        height: 200px;
        width: 465px;
        overflow-y: scroll;
        box-shadow: 0px 0px 3px #9d9d9d;
    }

    #stockList input {
        width: 140px;
    }

    .ui-dialog-body {
        padding: 10px;
    }

    .swfupload{
        opacity: 0;
        position: absolute;
        z-index: 201;
        margin: 10px;
    }

    input {
        line-height: normal;
    }

</style>
<!-- 页头 begin -->
<div class="main-header">
    <div class="breadcrumb">
        <span class="nolink">编辑商品</span>
    </div>
</div>
<!-- 页头 end -->
<table>
    <tbody>
    <tr>
        <td i="body" class="ui-dialog-body">
            <div i="content" class="ui-dialog-content" id="content:createDialog">
                <div class="dialog dialog-create">
                    <form action="@{ajax.GoodsCtrl.update}" id="update">
                        <input id="goodsId" name="goods.id" value="${goods.id}" hidden="hidden">
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>商品名称</label>
                            <div class="col">
                                <input type="text" name="goods.title" value="${goods.title}">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>款号</label>
                            <div class="col">
                                <input type="text" name="goods.identifier" value="${goods.identifier}">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>详细描述</label>
                            <div class="col">
                                <input type="text" name="goods.goodsDesc" value="${goods.goodsDesc}">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>价格(分)</label>
                            <div class="col">
                                <input type="text" name="goods.price" value="${goods.price}">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>分类</label>
                            <div class="col">
                                <select id="goodsType" name="goods.goodsType">
                                    #{list items:goodsTypes, as:'info'}
                                    <option value="${info.id}">${info.name}</option>
                                    #{/list}
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="label"><span class="asterisk">*</span>温馨提示</label>-->
                            <!--<div class="col">-->
                                <!--<input type="text" name="goods.warmPrompt" value="${goods.warmPrompt}">-->
                                <!--<span class="msg error-text">必填项！</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>状态</label>
                            <div class="col">
                                <select id="goodState" name="goods.state">
                                    <option value="0">下架</option>
                                    <option value="1">上架</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label"><span class="asterisk">*</span>排序</label>
                            <div class="col">
                                <input type="text" name="goods.orderBy" value="${goods.orderBy}">
                                <span class="msg error-text">必填项！</span>
                            </div>
                        </div>
                        <div i="button" class="ui-dialog-button">
                            <span id="spanButtonPlaceholder"></span>
                            <button  id="addIcon"  class="a-button" type="button" data-id="添加图片" autofocus="" class="ui-dialog-autofocus">添加图片</button>
                            <button role="addStock" class="a-button" type="button" data-id="添加库存" autofocus="" class="ui-dialog-autofocus">添加库存</button>
                        </div>
                        <div id="stockList">
                            #{if goods.goodsStocks.size() > 0}
                            #{set index:0}
                            #{/set}
                            #{list items:goods.goodsStocks, as:'stock'}
                            <div>
                                <input type="hidden" class="stockId" name="goodsStockToUpdate[${index}].id" value="${stock.id}">
                                <select name="goodsStockToUpdate[${index}].goodsSize">
                                    #{list items:goodsSizes, as:'info'}
                                    #{if info.id == stock.goodsSize}
                                    <option value="${info.id}" selected>${info.name}</option>
                                    #{/if}
                                    #{else}
                                    <option value="${info.id}">${info.name}</option>
                                    #{/else}
                                    #{/list}
                                </select>
                                <select name="goodsStockToUpdate[${index}].goodsColor">
                                    #{list items:goodsColors, as:'info'}
                                    #{if info.id == stock.goodsColor}
                                    <option value="${info.id}" selected>${info.name}</option>
                                    #{/if}
                                    #{else}
                                    <option value="${info.id}">${info.name}</option>
                                    #{/else}
                                    #{/list}
                                </select>
                                <input type="text" placeholder="描述" name="goodsStockToUpdate[${index}].stockDesc" value="${stock.stockDesc}">
                                <input type="text" placeholder="库存" name="goodsStockToUpdate[${index}].amount" value="${stock.amount}">
                                <button type="button" role="deleteExistStock">删除</button>
                            </div>
                            #{set index:index+1}
                            #{/set}
                            #{/list}
                            #{/if}
                        </div>

                        <div id="stockListToDelete" class="hidden">
                        </div>
                    </form>
                </div>
            </div>
        </td>
        <td i="body" class="ui-dialog-body ui-dialog-body-thin" style="text-align: left;display: block;">
            <div id="fileUploadBox">
                <div id="imgSorter">

                    #{if goods.goodsIcons.size() > 0 && goods.goodsIcons.get(0) != null}
                        #{list items:goods.goodsIcons, as:'info'}
                        <div class="img">
                            <div title="删除" class="deleteImg btn-op"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                            <!--<div title="上移" class="up btn-op" style="margin-left:5px;"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></div>-->
                            <!--<div title="下移" class="down btn-op" style="margin-left:5px;">︎︎<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></div>-->
                            <input class="imgOrder"  name="goodsIcon.orderBy"  type="text" value="${info.orderBy}">
                            <div title="修改排序" class="updateOrderBy btn-op" style="float: right"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span>︎︎</div>
                            <img src="${info.iconUrl}">
                            <input type="hidden" name="goodsIcon.id" value="${info.id}">
                        </div>
                    #{/list}
                    #{/if}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td i="footer" class="ui-dialog-footer">
            <div i="button" class="ui-dialog-button">
                <button role="submitUpdate" type="button" data-id="保存" autofocus="" class="ui-dialog-autofocus">保存</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

#{include file="common/jsinclude.html" /}

#{set 'moreScripts'}

<script id="addGoodStockTmpl" type="text/html">
    <div>
        <select name="goodsStock[{index}].goodsSize">
            #{list items:goodsSizes, as:'info'}
            <option value="${info.id}">${info.name}</option>
            #{/list}
        </select>
        <select name="goodsStock[{index}].goodsColor">
            #{list items:goodsColors, as:'info'}
            <option value="${info.id}">${info.name}</option>
            #{/list}
        </select>
        <input type="text" placeholder="描述" name="goodsStock[{index}].stockDesc">
        <input type="text" placeholder="库存" name="goodsStock[{index}].amount">
        <button type="button" class="btn_{index}" role="deleteStock">删除</button>
    </div>
</script>

<script id="deleteGoodStockTmpl" type="text/html">
    <input type="hidden" name="goodsStockToDelete[{index}].id" value="{value}">
</script>

<script>
    var verNum = new Date();
    seajs.config({
        base:"../",
        // 加版本号
        map: [
            [ '.js', '.js?v='+verNum]
        ]
    });
    seajs.use("@{'/public/js/app/modules/goods.js'}");
    seajs.use("@{'/public/js/app/upload/fileUpload2.js'}");
    $(document).ready(function(){
        var state="${goods.state}";
        $("#goodState").val(state);

        var goodsType="${goods.goodsType}";
        $("#goodsType").val(goodsType);

        $(document).delegate(".deleteImg" ,"click", function(){
            var data = {};
            data["goodsIcon.id"] = $(this).parent().find("input[name='goodsIcon.id']").val();
            console.log(data)
            $.post("@{ajax.GoodsCtrl.deleteIcon}", data, function(result) {
                result = JSON.parse(result);
                if(result.success) {
                    window.location.reload();
                }
            });
        });

        $(document).delegate(".up", "click", function(){
            var data = {};
            var current = $(this).parent();
            var target = $(this).parent().prev();
            data["goodsIcon.id"] = current.find("input[name='goodsIcon.id']").val();
            data["nxGoodsIcon.id"] = target.find("input[name='goodsIcon.id']").val();
            $.post("@{ajax.GoodsCtrl.changeIcon}", data, function(result) {
                result = JSON.parse(result);
                if(result.success) {
                    window.location.reload();
                }
            });
        });

        $(document).delegate(".down", "click", function(){
            var data = {};
            var current = $(this).parent();
            var target = $(this).parent().next();
            data["goodsIcon.id"] = current.find("input[name='goodsIcon.id']").val();
            data["nxGoodsIcon.id"] = target.find("input[name='goodsIcon.id']").val();
            $.post("@{ajax.GoodsCtrl.changeIcon}", data, function(result) {
                result = JSON.parse(result);
                if(result.success) {
                    window.location.reload();
                }
            });
        });

        $(document).delegate(".updateOrderBy", "click", function(){
            var data = {};
            var current = $(this).parent();
            data["goodsIcon.id"] = current.find("input[name='goodsIcon.id']").val();
            data["goodsIcon.orderBy"] = current.find("input[name='goodsIcon.orderBy']").val();
            $.post("@{ajax.GoodsCtrl.updateIcon}", data, function(result) {
                result = JSON.parse(result);
                if(result.success) {
                    window.location.reload();
                }
            });
        });

        $(document).delegate("#selectFile", "change", function(){
            var form = $("#addIconForm");
            form.submit();
        });

    });
</script>
#{/set}