 <!-- 左侧栏 begin -->
<div class="sidebar">

    <dl class="nav">
        <dt class="nav-hd">
            <span>订单</span>
        </dt>
        <dd class="nav-bd hide">
            <a class="" href="@{OrderCtrl.list}">订单列表</a>
        </dd>
    </dl>

    <dl class="nav">
        <dt class="nav-hd">
            <span>商品</span>
        </dt>
        <dd class="nav-bd hide">
            <a class="" href="@{GoodsCtrl.list}">商品列表</a>
        </dd>
    </dl>

    <dl class="nav">
        <dt class="nav-hd">
            <span>退款单</span>
        </dt>
        <dd class="nav-bd hide">
            <a class="" href="@{RefundOrderCtrl.list}">退款单列表</a>
        </dd>
    </dl>

    <dl class="nav">
        <dt class="nav-hd">
            <span>分销商</span>
        </dt>
        <dd class="nav-bd hide">
            <a class="" href="@{DistributorCtrl.list}">分销商列表</a>
        </dd>
    </dl>

    <dl class="nav">
        <dt class="nav-hd">
            <span>用户</span>
        </dt>
        <dd class="nav-bd hide">
            <a class="" href="@{UserCtrl.list}">用户列表</a>
        </dd>
    </dl>

    <dl class="nav">
        <dt class="nav-hd">
            <span>管理员</span>
        </dt>
        <dd class="nav-bd hide">
            <a class="" href="@{Admins.list}">管理员列表</a>
        </dd>
    </dl>

    <dl class="nav">
        <dt class="nav-hd">
            <span>快递公司</span>
        </dt>
        <dd class="nav-bd hide">
            <a class="" href="@{ExpressCtrl.list}">快递公司列表</a>
        </dd>
    </dl>

</div>
<!-- 左侧栏 end -->
