<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>会员中心</title>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/public/css/foods.css?t=666" rel="stylesheet"
    type="text/css">
<link href="/Public/css/app/hobby.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/public/js/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/Public/js/app/wemall.js?116"></script>

<style>
.bg_color{background-color: #000000 }
.submit{background-color: #000000 }
.submit:active {background-color: #000000}
.menu_topbar {background-color: #000000 ;background: -webkit-linear-gradient(top, #000000 , #000000);border-bottom: 1px solid #000000;}
.footermenu ul {border-top: 1px solid #000000 ;background-color: #000000;background: -webkit-linear-gradient(top, #000000, #000000);}
.footermenu ul li a.active {background: -webkit-linear-gradient(top, #000000 , #000000);}
.bg_total{background-color:#000000}
</style>

<script type="text/javascript">
var appurl = '/index.php';
var rooturl = '';

$(function () {
    $("#all_cnt").click(function(){
        $(".member_cnt").toggle();
        if($(this).find('img').attr("src")=="/public/images/arrow_unclick.png")
        {
            $(this).find('img').attr("src","/public/images/arrow_click.png");
        }
        else
        {
            $(this).find('img').attr("src","/public/images/arrow_unclick.png");
        }
    });
    
    $("#all_price").click(function(){
        $(".price_cnt").toggle();
        if($(this).find('img').attr("src")=="/public/images/arrow_unclick.png")
        {
            $(this).find('img').attr("src","/public/images/arrow_click.png");
        }
        else
        {
            $(this).find('img').attr("src","/public/images/arrow_unclick.png");
        }
    });
    
    $("#all_buy").click(function(){
        $(".buy_cnt").toggle();
        if($(this).find('img').attr("src")=="/public/images/arrow_unclick.png")
        {
            $(this).find('img').attr("src","/public/images/arrow_click.png");
        }
        else
        {
            $(this).find('img').attr("src","/public/images/arrow_unclick.png");
        }
    });
    
    $("#memeber_url").click(function(){
        $(".memeber_url").toggle();
        if($(this).find('img').attr("src")=="/public/images/arrow_unclick.png")
        {
            $(this).find('img').attr("src","/public/images/arrow_click.png");
        }
        else
        {
            $(this).find('img').attr("src","/public/images/arrow_unclick.png");
        }
    });

});

</script>
</head>
<body class="sanckbg mode_webapp" style="background-color:#fff;">

    <div id="member-container" style="display: block;">

        <div class="menu_header">
            <div class="menu_topbar">
                <div id="menu" class="sort ">
                    <a href="">分销详情</a>
                </div>
            </div>
        </div>

        <div class="div_header">
            <span style='float:left;margin-left:10px;margin-right:10px;margin-bottom:10px;'>
                <img src='http://wx.qlogo.cn/mmopen/pUNYhn9qq6GAwPtahjSb7QliaicDAFibBP1aaFG5ibf2gAlXj22S0jSf6pupGmQFk2aR6mCnJibZTR4nbBgPlvNBfccX4CyStuIQn/0' width='80px;' height='80px;'>          </span>
            <span class="header_right">
                <div class="header_l_di"><span>昵称：${data?.user?.nickname}</span></div>
                            </span>
                            
        </div>
        
        <div class="div_table">
        <table class="bg_color"  style='height:35px;text-align:center;border:0px' border=0>
            <tr style="border:0px"  border=0><td class="bg_color">销售额：%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.saleAmount))}%元</td>
            <td class="bg_color" style="border-left:1px solid #fff;">我的奖励：%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.totalIncome))}%元</td></tr>
        </table>
        </div>        <script>
    $(function() {
        $('#btn').click(function(){
            $('#hah').slideToggle('slow');
        });
        var src="/index.php?g=App&m=Index&a=save_hobby";
        $('#btn-back').click(function(){
            var ids='';
            $('#hah input').each(function(n,v){
                if(v.checked){
                    ids+=','+v.value;
                }
            });
            ids=ids.substring(1);
            $.post(src,{tid:ids},function(data){
                alert(data.msg);
                if(data.status){
                    $('#btn').click();
                }
            })
        });
        $('#hah input').change(function(){
            if($(this).get(0).checked){
                $(this).next().addClass('active');
            }else{
                $(this).next().removeClass('active');
            }
        });
    });
</script>    
<div class="cardexplain" style="TEXT-ALIGN: center;color:#000;font-size:14px;">
  #{if data?.detail?.superior}
        您是由【${data?.detail?.superior}】推荐
  #{/if}
       </div>
        <!--div class="cardexplain" style="TEXT-ALIGN: center;color:#000;font-size:14px;">您是由【小黑裙SOIREE】推荐</div-->
        
        <div class="cardexplain">
            <div class="div_ul" id="all_cnt" ><span><img style='margin-left:5px;' src="/public/images/arrow_unclick.png">&nbsp;&nbsp;我是代言人</span><span class="bg_total">${data?.detail?.getUnderlingCount(0)}(${data?.detail?.getUnderlingValuableCount(0)})人</span></div>
            <ul class="round">
                <li class="member_cnt" style=""><a href="http://xhq.winbz.com/index.php?g=App&m=Index&a=member_info&type=1&id=2718433"><span>一级代言人<span style="float:right;color:red;">${data?.detail?.getUnderlingCount(1)}(${data?.detail?.getUnderlingValuableCount(1)})</span></span></a></li>
                <li class="member_cnt"><a href="http://xhq.winbz.com/index.php?g=App&m=Index&a=member_info&type=2&id=2718433"><span>二级代言人<span style="float:right;color:red;">${data?.detail?.getUnderlingCount(2)}(${data?.detail?.getUnderlingValuableCount(2)})</span></span></a></li>
                <li class="member_cnt"><a href="http://xhq.winbz.com/index.php?g=App&m=Index&a=member_info&type=3&id=2718433"><span>三级代言人<span style="float:right;color:red;">${data?.detail?.getUnderlingCount(3)}(${data?.detail?.getUnderlingValuableCount(3)})</span></span></a></li>           </ul>
        </div>
        
        <div class="cardexplain">
            <div class="div_ul" id="all_buy"><span><img style='margin-left:5px;' src="/public/images/arrow_unclick.png">&nbsp;&nbsp;代言人推广<span class="bg_total">${data?.detail?.getOrderCount()}单(￥%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.getOrderAmount()))}%)</span></span></div>
            <ul class="round">
                <li class="buy_cnt"><a href="http://xhq.winbz.com/index.php?g=App&m=Index&a=member_order&type=1&id=2718433"><span>下单未购买<span style="float:right;color:red;">${data?.detail?.orderFailCount} (￥%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.orderFailAmount))}%)</span></span></a></li>
                <li class="buy_cnt"><a href="http://xhq.winbz.com/index.php?g=App&m=Index&a=member_order&type=2&id=2718433"><span>下单已购买<span style="float:right;color:red;">${data?.detail?.orderSuccessCount} (￥%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.orderSuccessAmount))}%)</span></span></a></li>
            </ul>
        </div>
        
        <div class="cardexplain">
            <div class="div_ul" id="all_price"><span><img style='margin-left:5px;'  src="/public/images/arrow_unclick.png">&nbsp;&nbsp;我的财富<span class="bg_total">%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.wealth()))}%元</span></span></div>
            <ul class="round">
                <li class="price_cnt"><span>未付款定单财富<span style="float:right;color:red;">%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.unpayWealth))}%</span></span></li>
                <li class="price_cnt"><span>已付款定单财富<span style="float:right;color:red;">%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.payWealth))}%</span></span></li>
                <li class="price_cnt"><span>已收货定单财富<span style="float:right;color:red;">%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.receWealth))}%</span></span></li>
                <li class="price_cnt"><span>已完成定单财富<span style="float:right;color:red;">%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.totalIncome))}%</span></span></li>
                                <li class="price_cnt"><span>已提现财富<span style="float:right;color:red;">%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.cashAmount()))}%</span></span></li>
                <li class="price_cnt"><span>可提现财富<span style="float:right;color:red;">%{out.print(utils.NumberUtil.fen2yuan(data?.detail?.usefulBalance))}%</span></span></li>
                            </ul>
        </div>
        
                
                
        <div class="cardexplain">
            <div class="div_ul" onClick="$('#tx').click();"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;申请提现</span></div>
        </div>
        
        <!--div class="cardexplain">
            <div class="div_ul" id="memeber_url"><span><img style='margin-left:5px;' src="/public/images/arrow_unclick.png">&nbsp;&nbsp;复制推广链接</span></div>
            <span class="memeber_url" style='display:none;'>http://xhq.winbz.com/index.php?g=App&m=Member&a=register&mid=2718433</span>
        </div-->
        
        <!--div class="cardexplain">
            <a href = './index.php?g=App&m=Index&a=member_top&id=2718433'><div class="div_ul" id="top_url"><span><img style='margin-left:5px;' src="/public/images/arrow_unclick.png">&nbsp;&nbsp;销售排行榜</span></div></a>
        </div-->
        
    </div>
    
    <div id="ticket-container" style="display: none;">
        <img src='/Public/Uploads/55c495fd5c68b.jpg?2016052214' style="width:100%">
    </div>
    
    <div id="tx-container" style="display: none;">

        <div class="menu_header">
            <div class="menu_topbar">
                <div id="menu" class="sort ">
                    <a href="">申请提现</a>
                </div>
            </div>
        </div>
        
        <section class="order">
            <form name="txinfoForm" id="txinfoForm" method="post" action="">
                <div class="contact-info">
                    <ul>
                        <li class="title">提现信息</li>
                                                <li>
                            <table style="padding: 0; margin: 0; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td width="80px"><label for="price" class="ui-input-text">提现金额：</label></td>
                                        <td>
                                            <div class="ui-input-text">
                                                <input id="price" name="price" placeholder="" value="0.00" type="text"
                                                    class="ui-input-text">
                                            </div></td>
                                    </tr>
                                    
                                                                    </tbody>
                            </table>

                            <div class="footReturn">
                                <a id="txshowcard" class="submit" href="javascript:submitTxOrder();">确定提交</a>
                            </div>

                        </li>
                    </ul>
                </div>
            </form>
        </section>

        <!-- 正在提交数据 -->
        <div id="tx-menu-shadow" hidefocus="true"
            style="display: none; z-index: 10;">
            <div class="btn-group"
                style="position: fixed; font-size: 12px; width: 220px; bottom: 80px; left: 50%; margin-left: -110px; z-index: 999;">
                <div class="del" style="font-size: 14px;">
                    <img src="/public/images/ajax-loader.gif" alt="loader">正在提交申请...
                </div>
            </div>
        </div>
        
        <ul class="round">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cpbiaoge">
                    <tr>
                        <th>编号</th>
                        <th class="cc">金额</th>
                        <th class="cc">状态</th>
                    </tr>
                    <tbody>
                                        </tbody>
                </table>
            </ul>
        
        
    </div>
    
    
    <div id="user-container" style="display: none;">

        <div class="menu_header">
            <div class="menu_topbar">
                <div id="menu" class="sort ">
                    <a href="">查看我的订单</a>
                </div>
            </div>
        </div>

        <div>
            <ul class="round" style="margin:0;padding:0;border-radius:0;border:0px;border-bottom:1px solid #C6C6C6">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cpbiaoge">
                    <tr>
                        <td> <span>订单详情</span> <span style='float:right'><a href='javascript:$("#ticket").click();' style='color:red;' >获取推广二维码>>></a></span> </td>
                    </tr>
                </table>
            </ul>
        </div>
        
        <div class="cardexplain">
            <div id="page_tag_load" hidefocus="true"
                style="display: none; z-index: 10;">
                <div class="btn-group"
                    style="position: fixed; font-size: 12px; width: 220px; bottom: 80px; left: 50%; margin-left: -110px; z-index: 999;">
                    <div class="del" style="font-size: 14px;">
                        <img src="/public/images/ajax-loader.gif" alt="loader">正在获取订单...
                    </div>
                </div>
            </div>
            <ul class="round"  id="orderlistinsert" style='color:#000;font-size:12px;'>
                <!--插入订单ul-->
            </ul>
            <div style="height:60px;"></div>
        </div>
    </div>

    <div class="footermenu">
        <ul>
            <li ><a href="./index.php?g=App&m=Index&a=index_info"> <img src="/public/images/21.png">
                    <p>
                        立即购买
                                            </p>
            </a></li>
            <li id="user"><a href="javascript:void(0);"> <img src="/public/images/22.png">
                    <p>我的订单</p>
            </a></li>
            <li id="member" ><a href="javascript:void(0);" class="active"> <img src="/public/images/23.png">
                    <p>
                        会员中心
                                            </p>
            </a></li>
            <li id="ticket" ><a href="javascript:void(0);"> <img src="/public/images/24.png">
                    <p>我的二维码</p>
            </a></li>
            <li style='display:none;' id="tx"><a href="javascript:void(0);"> <img src="/public/images/24.png">
                    <p>我的二维码</p>
            </a></li>
        </ul>
    </div>
        <script>
    window.onload=function(){
        if($_GET['page_type']=='order')
        {
            user();
        }
        
        if($_GET['page_type']=='ticket')
        {
            $("#ticket").click();
        }
    }
    </script>
</body>
</html>
