<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的订单</title>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/public/css/front/foods.css?t=666" rel="stylesheet"
    type="text/css">
<link href="/Public/css/app/hobby.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/public/js/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/public/js/front/wemall.js?116"></script>

<style>
.bg_color{background-color: #000000 }
.submit{background-color: #000000 }
.submit:active {background-color: #000000}
.menu_topbar {background-color: #000000 ;background: -webkit-linear-gradient(top, #000000 , #000000);border-bottom: 1px solid #000000;}
.footermenu ul {border-top: 1px solid #000000 ;background-color: #000000;background: -webkit-linear-gradient(top, #000000, #000000);}
.footermenu ul li a.active {background: -webkit-linear-gradient(top, #000000 , #000000);}
.bg_total{background-color:#000000}
</style>

</head>
<body class="sanckbg mode_webapp" style="background-color:#fff;">

    <div id="user-container">

        <div class="menu_header">
            <div class="menu_topbar">
                <div id="menu" class="sort ">
                    <a href="">查看我的订单</a>
                </div>
            </div>
        </div>

        <div>
            <ul class="round" style="margin:0;padding:0;border-radius:0;border:0px;border-bottom:1px solid #C6C6C6">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cpbiaoge">
                    <tr>
                        <td> <span>订单详情</span></td>
                    </tr>
                </table>
            </ul>
        </div>
        
        <div class="cardexplain">
            <ul class="round"  id="orderlistinsert" style='color:#000;font-size:12px;'>
                #{if orders == null || orders.size() == 0 }
			    #{/if}
			    #{else}
			    #{list items:orders, as:'info'}
	                <li style="border: 1px solid #d0d0d0;border-radius: 10px;margin-bottom:10px;background-color:#FFF;">
						<table style="width:100%;">
							<tr><td style="border-bottom:0px">订单编号:${info?.outTradeNo}</td></tr>
							<tr><td style="border-bottom:0px">订单金额:%{out.print(utils.NumberUtil.fen2yuan(info?.totalFee))}%元</td></tr>
							<tr><td style="border-bottom:0px">订单时间:%{out.print(utils.DateUtil.getDateString(info?.createTime, "yyyy-MM-dd HH:mm:ss"))}%</td></tr>
							<tr><td style="border-bottom:0px">支付状态:

                            #{if info.state == 0}
                                未支付 　<a href="/front/Pay/wxPay?orderId=${info?.orderId}" style="color: blue;">去支付</a>
                            #{/if}
                            #{else}
                            #{if info.state == 6}
             订单关闭
                            #{/if}
                            #{else}
                            已支付
                            #{/else}
                            
                            #{/else}
                            </td></tr>
							<tr><td style="border-bottom:0px">订单状态:
							 %{out.print(common.constants.OrderStatus.getDesc(info?.state))}%
                            </td></tr>
                            #{if info.refundState == -1}
                            #{/if}
                            #{else}
                            <tr><td style="border-bottom:0px">订单状态:
                            %{out.print(common.constants.RefundStatus.getDesc(info?.refundState))}%
                            </td></tr>
                            #{/else}
                            #{list items:info.goodsInfo, as:'goodInfo'}
							<tr><td style="border-bottom:0px">商品名称:${goodInfo.goodsName} X ${goodInfo.goodsNumber},颜色：${goodInfo.goodsColor},大小：${goodInfo.goodsSize}</td></tr>
							#{/list}
							<tr><td style="border-bottom:0px">微信号:${info.weixin}</em></td></tr>
							<tr><td style="border-bottom:0px">快递公司:${info.expressName}</em></td></tr>
							<tr><td style="border-bottom:0px">快递单号:${info.expressNum}</em></td></tr>
							<tr><td>

					                           #{if info.state != 5 && info.state != 6}
					                           #{if info.state == 0}
					                                <a href="javascript:refund(1,'${info?.orderId}');" style="color: blue;">取消订单</a>
					                            #{/if}
					                            #{else}
					                               #{if info.refundState == -1 || info.refundState == 4 || info.refundState == 5}
                                                       <a href="javascript:refund(2,'${info?.orderId}');" style="color: blue;">申请退款</a>
                                                        #{if info.state == 3}
                                                       <a href="javascript:refund(4,'${info?.orderId}');" style="color: blue;">确认收货</a>
                                                       #{/if}
				                                   #{/if}
					                               #{else}
					                                   #{if info.refundState == 0}
					                                       <a href="javascript:refund(3,'${info?.refundId}');" style="color: blue;">取消退款</a>
					                                   #{/if}
					                                   #{else}
   <font color="blue">退款处理中，如有需要请联系客服</font>
					                                   #{/else}
                                                    #{/else}
					                            #{/else}
					                            #{/if}
                            </td></tr><tr>
						</table>
					</li>
				#{/list}
				#{/else}
            </ul>
            <div style="height:60px;"></div>
        </div>
    </div>




    <div class="footermenu">
        <ul>
            <li ><a href="/goods_list.html"> <img src="/public/images/21.png">
                    <p>
                        立即购买
                                            </p>
            </a></li>
            <li id="user"><a href="javascript:void(0);"> <img src="/public/images/22.png">
                    <p>我的订单</p>
            </a></li>
            <li id="member" ><a href="/myspace.html" class="active"> <img src="/public/images/23.png">
                    <p>
                        会员中心
                                            </p>
            </a></li>
            <li><a href="/qrcode.html"> <img src="/public/images/24.png">
                    <p>我的二维码</p>
            </a></li>
            
        </ul>
    </div>
        <script>
    window.onload=function(){
        if($_GET['page_type']=='order')
        {
            user();
        }
        
        if($_GET['page_type']=='ticket')
        {
            $("#ticket").click();
        }
    }
    </script>
</body>
</html>
